div(id=`${navs.about.title.toLowerCase()}`).section
  h2 #{navs.about.title}
  .details
    .detail
      .logo-two
        include ../logo2.pug
    .detail
      p 
        | We are a dynamic and innovative fashion company dedicated to bringing style and functionality to your everyday life. 
        | With a focus on tote bags and a captivating range of accessories, we offer fashion-forward solutions that seamlessly blend fashion with practicality. 
        | Our portfolio also includes a delightful collection of perfumed hand sanitizers, adding a touch of luxury to the essential act of hand hygiene. 
      P 
        | We believe that fashion is an expression of individuality, and our products are meticulously crafted to reflect your unique personality. 
        | Whether you're seeking a chic tote bag for work, a statement accessory for a special occasion, or a fragrant hand sanitizer that elevates your daily routine, we are committed to delivering exceptional quality and design that enhances your style. 
        | Join us on this fashionable journey as we redefine the intersection of fashion and functionality, making every day a stylish and delightful experience.