-
  var navs = {
    home: { href: "home", order: 1, title: "Home"},
    //- design: { href: "design", order: 2, title: "Design"},
    about: { href: "about", order: 3, title: "About"},
    contact: { href: "contact", order: 4, title: "Contact"},
  }
