a(href="#" class="cryptedphone" data-a="62" data-b="813" data-c="1594" data-d="4589" onclick="window.location.href = 'https://wa.me/' + this.dataset.a + this.dataset.b + this.dataset.c + this.dataset.d; return false;")
img.imgmail(src="/img/phone.png" alt="Phone")