-
  var photos = [
    { href: "fashion", title: "Fashion", description: "Lorem ipsum", color: "black"},
    { href: "rental", title: "Rental", description: "Lorem ipsum", color: "white"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
    { href: "technology", title: "Technology", description: "Lorem ipsum", color: "black"},
  ]